<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="https://images.pexels.com/photos/191430/pexels-photo-191430.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
        Storage Firebase BETA
      </h1>
      <p class="lead">
        Un servicio de almacenamiento de imágenes gratis en Angular
      </p>
      <div>
        <input
          (change)="subirArchivo($event)"
          class="form-control form-control-lg"
          id="formFileLg"
          type="file"
        />
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div *ngFor="let image of images" class="col">
      <div class="card">
        <img [src]="image" class="card-img-top" alt="..." />
      </div>
    </div>
  </div>
</div>
